:root {
  --main-font: 'Uncial Antiqua', serif;
  --secondary-font: 'Neco', serif;
  --primary-color: #8c5383;
  --secondary-color:#E2A3D3;
  --white:#F8F8F8;
  --background-color: #d7e7c3;
}

body {
  font-family: var(--secondary-font);
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 0;
  padding: 50px;
}

h1, h2, h3 {
  text-align: center;
  color: var(--primary-color);
  padding-bottom: 20px;
  font-family: var(--main-font);
}

p {
  font-size: 20px;
}

form {
  max-width: 500px;
  margin: 20px auto;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

label {
  display: block;
  margin-top: 10px;
  font-size: 20px;
}

input[type="text"], select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 16px;
}

button {
  font-family: var(--secondary-font);
  margin-top: 20px;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--white);
}

/* Radios et selecteurs */
input[type="radio"] {
  margin-right: 5px;
  
}

/* Sélecteur de cible */
#targetSelect {
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
}

/* ========== CARD LOGS ========== */

.log-card {
  max-width: 900px;
  margin:  auto;
  padding: 2rem;
  background: var(--secondary-color);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  overflow: hidden;
}

/* ========== CARD PLAYERS ========== */

.stats-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 1rem auto;
  max-width: 950px;
}

.player-card {
  background: var(--secondary-color);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  color: var(--primary-color);
  transition: transform 0.2s;
}

.player-card:hover {
  transform: scale(1.02);
}

.player-card h3 {
  margin: 0;
}

.player-card .class {
  font-size: 1.2rem;
  font-weight: bold;
  
}

.stat {
  margin-top: 0.5rem;
}